



<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="/">Numismatical</a>
    <ul class="nav">
    	<%= activeable_li_link_to("Coins", coins_path) %>
    	<%= activeable_li_link_to("Albums", albums_path) %>
		
	</ul>



     
    <ul class='nav pull-right'>
    	<%= render user_nav %>
    </ul>
   </div>
  </div>