<html>
	<head>
<title>Blah <%= erb @title %></title>
	</head>

	<body>
		<ul class='nav'>
			<li><a href='#'>Home</a></li>
		</ul>

		<%= yield %>

	<footer>
	    &copy; Copyright 2013	
	</footer>
	</body>
</html>