<!DOCTYPE html>
<html lang="en">



<body>





    <div class="row-fluid">
      <div class="span4">
        <form id='contact-form'>
          <fieldset>
            <legend>Numismatic.net</legend>
            <h1>Contact Us</h1>
      
            <input type="text" placeholder="Your Name">
            <span class="help-block">Please enter your name here</span>

            <input type="text" placeholder="Your Email">
            <span class="help-block">Please enter your email address here</span>

            <input type="text" placeholder="Your Message">
            <span class="help-block">Please enter your message here</span>



          <label class="checkbox">
           <input type="checkbox"> Remember me?
          </label>
          <button type="submit" class="btn">Submit</button>
        </fieldset>
      </form>
        
   </div>
        

 </body>
</html>